/* home page */

.signUpHeader{
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #023047;
  color: #fff;
}
.blog{
  margin-left: 30px;
}

.login,.signUppage{
  margin-right: 30px;
}


.signUp{
  margin-top: 20px;
  margin-left: 30px;
}

.form{
  border: 2px solid #023047;
  height: 400px;
  width: 35%;
  margin: 50px auto;
  border-radius: 5px;
}

.email{
  margin-top: 10px;
}

.home {
  width: 40%;
  height: 40px;
  width: 50%;
  margin: 10px 25%;
  border-radius: 5px;
}

.home:hover{
  border:1px solid #ccc;
}

.btnSignup{
  margin: 25px 40%;
}

.btn{
  background-color: #54388b;
  color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

/* header all pages */

.header{
  background-color: #ccc;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.blogs{
  font-weight: 700;
}
.logout{
  margin-left: 20px;
  font-weight: 700;
}
.profile{
  margin-left: 20px;
  font-weight: 700;
}

.blogPost{
  width: 50%;
  margin: 50px 25%;
}
.cardBlog{
  margin: 20px 10px;
}

.list{
  list-style: none;
}

/* Post Detail Page */

.detailPostPage{
  width: 50%;
  margin: 10px 25%;
}

.detailPostH1{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.detailPostCard{
  width: 100%;
  padding: 30px;
}

.blogsAll{
  background-color: #edede9;
}

/* profile page */

.profilePage{
  height: 50px;
  background-color: #edede9;
}

.profilePage > h1{
  margin-left: 20px;
}